@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.app {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/app-bg.png");
  background-size: cover;
  position: relative;
}

.credits {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.credits span {
  display: inline-block;
  background-color: white;
  padding: 20px 20px;
  color: black;
}
.credits a {
  color: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.layout {
  overflow: hidden;
  transition: width 0.55s cubic-bezier(0.68, -0.55, 0.27, 1.55), height 0.55s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  cursor: pointer;
  border-radius: 18px;
  background-color: white;
}

.layout-header {
  height: 40%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout-header .layout-header-background {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 5px);
  border-radius: 18px;
}
.layout-header .layout-header-center {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  z-index: 99;
  background-color: white;
  width: 301px;
  height: 121px;
  border-radius: 64px;
  transition: transform 0.55s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.layout-header .layout-header-center .layout-header-logo-container {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout-header .layout-header-center .layout-header-text {
  font-family: "Poppins", sans-serif;
}
.layout-header .layout-header-center .layout-header-text h3 {
  font-size: 30px;
  font-weight: 600;
}
.layout-header .layout-header-center .layout-header-text h5 {
  font-size: 14px;
  font-weight: 300;
}

.layout-body h1 {
  margin-left: 10px;
  margin-top: 60px;
  line-height: 1;
  font-size: 3lh;
  font-weight: 400;
  transition: font-size 0.55s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  position: relative;
  display: flex;
  align-items: center;
}
.layout-body h1 .details {
  position: absolute;
  padding: 0px 10px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.layout-body h1 .details div {
  font-size: 14px;
  position: absolute;
  padding: 0 10px;
  transition: all 0.4s ease;
  bottom: -100%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.layout-body h1 .details div .wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: end;
}
.layout-body h1 .details div .wrapper span {
  display: block;
  transition: transform 0.3s linear;
  transform: translate(0);
}

.layout-footer {
  margin-top: 120px;
  display: flex;
  padding: 0 10px;
  gap: 30px;
}
.layout-footer article {
  width: 33.3333333333%;
  height: 300px;
  transition: transform 0.3s linear;
  transform: translateY(100%);
}
.layout-footer article:nth-of-type(1) div {
  transform: rotate(-5deg);
  position: relative;
  right: 10px;
}
.layout-footer article:nth-of-type(2) div {
  transform: translateY(-40px) scale(1.1);
}
.layout-footer article:nth-of-type(3) div {
  transform: rotate(5deg);
  position: relative;
  left: 10px;
}
.layout-footer article div {
  height: 100%;
  width: 100%;
  border-radius: 18px;
}
.layout-footer article div img {
  border-radius: 18px;
  width: 100%;
  height: 78%;
  object-fit: cover;
}

.layout-small {
  width: 443px;
  height: 561px;
}
.layout-small .layout-header-center {
  transform: scale(0.6);
}
.layout-small .layout-body h1 {
  font-size: 2lh;
}
.layout-small .layout-body .details div {
  width: 100%;
}
.layout-small .layout-body .details div .wrapper span {
  transform: translate(calc(-129% + 5px), 8px);
}

.layout-medium {
  width: 702px;
  height: 668px;
  border-radius: 24px;
}

.layout-big {
  width: 912px;
  height: 845px;
  border-radius: 24px;
}
.layout-big .layout-body h1 {
  font-size: 4lh;
  transition: font-size 0.4s ease;
}
.layout-big .layout-body .details div {
  width: 40%;
  bottom: 50%;
}
.layout-big .layout-footer article {
  transform: translateY(0);
  transition: transform 0.55s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.layout-big .layout-footer article:nth-of-type(1) {
  transition-delay: 0s;
}
.layout-big .layout-footer article:nth-of-type(2) {
  transition-delay: 0.05s;
}
.layout-big .layout-footer article:nth-of-type(3) {
  transition-delay: 0.1s;
}

/*# sourceMappingURL=index.css.map */
